.middle {
  height: 561px;
  background: rgba(0, 255, 133, 0.08);
  padding: 0px 170px 0px 170px;
}

.middle_heading {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #000000;
  padding-top: 40px;
}

.middle__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.middle__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle__image {
  width: 100px;
  height: 100px;
}

.middle__paragraph {
  width: 253px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: 24px;
}

.middle__paragraph-1 {
  width: 236px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: 24px;
}
.middle__paragraph-2 {
  width: 223px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: 24px;
}

@media screen and (max-width: 880px) {
  .middle__wrapper {
    padding-right: 200px;
  }
}

@media screen and (max-width: 768px) {
  .middle {
    height: 800px;
  }
  .middle__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
  }
}
